@media screen and (max-width: 1050px) {

    .menu{
        display: none;
    }

    .nav{
        padding: 10px 20px;
    }
    .menu_burger{
        display: block;
    }

    .number{
        font-size: 15px;
        margin-left: 100px;
    }

    .container{
        max-width: 100%;
        margin: 0;
    }

    header{
        max-width: 100%;
    }

    .header__intro{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }

    .item__img{
        max-width: 450px;
        max-height: 600px;
    }

    .header__btn{
        position: relative;
        top: 500px;
        z-index: 1;
    }
}

@media screen and (max-width:576px){

    .header__intro{
        position: relative;
    }
    .header__btn{
        position: absolute;
        top: 500px;
        left: 65px;
        z-index: 1;
    }
    .item__img{
        max-width: 90%;
        max-height: 70%;
    }

    h1{
        font-size: 30px;
    }

    .info__text{
        padding-bottom: 5px;
    }

    nav{
        padding: 10px 10px;
        align-items: center;
    }

    .burge{
        width: 30px;
        height: 30px;
    }

    .number{
        display: none;
    }

    .items{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .section__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block__hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caption{
        font-size: 30px;
        text-align: center;
        max-width: 300px;
        bottom: 60px;
    }

    .items__hero{
        display: flex;
        flex-direction: column;
    }

    .item__hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
}