@media screen and (max-width: 1300px){
    .container{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    .header__content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 55px;
    }

    .header__info{
        position: static;
        max-width: 600px;
        text-align: center;
    }

    .header__info-btn{
        position: static;
        margin: 35px;
        padding: 25px 54px;
        cursor: pointer;
    }

    .about__grid {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: space-around;
    }
}

@media screen and (max-width:1150px){
    .number__block,
    .menu{
        display: none;
    }
    .number__mobile,
    .menu__burger{
        display: block;
    }

    .modal__clue{
        right: 150px;
    }
}

@media screen and (max-width:970px){
    .modal__clue{
        right: 180px;
    }

    .rate__content,
    .teachers__content,
    .intro__content{
        text-align: center;
    }
    .rate-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 40px;
    } 
    
    .rate-item {
        display: block;
        width: 460px;
        border-radius: 20px;
        border: 1px solid rgba(20, 16, 36, 0.20);
        transition: all 0.3s ease; /* добавляем плавность эффекта */
    }
    
    .rate-item:hover{
        transform: scale(1.05);
        background-color: var(--color_text_dark);
    }
    
    .rate__item-name {
        color: var(--color_text_dark);
        font-size: 50px;
        font-weight: 600;
        line-height: 48px;
        padding-top: 80px;
    }
    
    .rate__item-price {
        color: var(--color_text_dark);
        font-size: 50px;
        font-weight: 600;
        line-height: 80px;
        padding-top: 83px;
    }
    
    .rate__item-desc {
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        padding-top: 20px;
    }
    
    .rate__item-btn {
        font-size: 24px;
        border-radius: 10px;
        background: var(--color_btn_red);
        width: 280px;
        padding: 50px 54px;
        color: var(--color_text_light);
        margin: 52px 0 40px;
        cursor: pointer;
    }

    .record__content{
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width:680px){

    .header__info-title{
        font-size: 50px;
    }

    .header__img{
        right: 30px;
        max-width: 500px;
    }

    .about__grid {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
        row-gap: 40px;
    }

    .intro__grid{
        display: grid;
        grid-template-columns: repeat(1, 360px);
        justify-content: center;
        row-gap: 40px;
    }

    .modal__clue{
        right: 0px;
    }

    .record__content {
        margin: 0;
    }
    
    .footer__content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .nav{
        padding: 20px 15px;
    }
}

@media screen and (max-width: 570px){
    .header__img{
        display: block;
        padding-right: 50px;
        max-width: 400px;
    }

    .input__mobile{
        width: 400px;
    }

    .wrap__teachers {
        display: flex;
        overflow: hidden;
        transition: transform 0.5s ease-in-out;
        margin-right: -40px;
    }

    .rate-item {
        display: block;
        width: 360px;
        border-radius: 20px;
        border: 1px solid rgba(20, 16, 36, 0.20);
        transition: all 0.3s ease; /* добавляем плавность эффекта */
    }
    
    .rate-item:hover{
        transform: scale(1.05);
        background-color: var(--color_text_dark);
    }
    
    .rate__item-name {
        color: var(--color_text_dark);
        font-size: 30px;
        font-weight: 600;
        line-height: 48px;
        padding-top: 40px;
    }
    
    .rate__item-price {
        color: var(--color_text_dark);
        font-size: 50px;
        font-weight: 600;
        line-height: 80px;
        padding-top: 83px;
    }
    
    .rate__item-desc {
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        padding-top: 20px;
    }
    
    .rate__item-btn {
        border-radius: 5px;
        background: var(--color_btn_red);
        width: 280px;
        padding: 25px 54px;
        color: var(--color_text_light);
        margin: 52px 0 40px;
        cursor: pointer;
    }

    .teachers__content{
        display: none;
    }

    .item__teachers {
        flex: 0 0 auto;
        margin-right: 40px;
        transition: transform 0.5s ease-in-out;
        min-width: 100%; 
    }
}

@media screen and (max-width: 450px){


    .logo{
        font-size: 20px;
    }

    .header__img{
        display: block;
        padding-right: 50px;
        max-width: 260px;
    }

    .header__info-title{
        font-size: 40px;
    }

    .intro__grid{
        grid-template-columns: 250px;
        justify-content: center;
    }

    .intro__grid__item-des{
        font-size: 14px;
    }

    .rate-item{
        width: 250px;
    }

    .rate__item-btn{
        width: 200px;
        padding: 15px;
        font-size: 16px;
    }

    .modal__clue{
        right: 100px;
    }


    .form__record{
        align-items: center;
    }

    .input__mobile{
        width: 300px;
        justify-content: center;
    }

    .btn__record{
        padding: 15px 80px;
    }

    .logo__footer{
        font-size: 23px;
    }

    .number__footer{
        font-size: 15px;
    }
}