@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

:root{
    /*Цвет текста*/
    --color_text_light: #fff;
    --color_text_dark: #141024;
    --color_text_light-dark: hsl(252, 38%, 70%);

    /*Цвет чисел*/
    --color_count: #D52027;

    /*Цвет фона*/
    --color_block_dark: #141024;
    --color_block_red: #D52027;

    /*Цвет кнопок*/
    --color_btn_dark: #141024;
    --color_btn_red: #D52027;
    --color_hover_btn_red: #b6191e;
    --color_hover_btn_dark: #0a080f;
}
*, ::after, :hover{
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
}