@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

:root{
    /*Цвет текста*/
    --color_text_light: #fff;
    --color_text_dark: #141024;
    --color_text_light-dark: hsl(252, 38%, 70%);

    /*Цвет чисел*/
    --color_count: #D52027;

    /*Цвет фона*/
    --color_block_dark: #141024;
    --color_block_red: #D52027;

    /*Цвет кнопок*/
    --color_btn_dark: #141024;
    --color_btn_red: #D52027;
    --color_hover_btn_red: #b6191e;
    --color_hover_btn_dark: #0a080f;
}
*, ::after, :hover{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Jost', sans-serif;
}

/* Стили для контейнера */

.container{
    width: 1160px;
    margin: 0 auto;
}

/* Стили для меню и шапки */

.header{
    background-color: var(--color_block_dark);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.menu{
    display: flex;
    gap: 40px;
    margin-left: 30px;
}

.menu li{
    font-size: 20px;
    font-weight: 400;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.number{
    color: var(--color_text_light);
    font-size: 30px;
    font-weight: 600;
}

/* Стили для наполнения в header */

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
}

.header__info{
    position: relative;
    bottom: 130px;
    z-index: 5;
}

.header__info-title {
    color: var(--color_text_light);
    font-size: 70px;
    font-weight: 600;
    line-height: 112px;
    white-space: nowrap;
}

.header__info-desc {
    color: var(--color_text_light);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 478px;
}

.header__info-btn{
    position: relative;
    color: var(--color_text_light);
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    padding: 25px 54px;
    background-color: var(--color_btn_red);
    border-radius: 5px;
    top: 50px;
    cursor: pointer;
}

.header__img{
    position: relative;
    z-index: 2;
    left: 29px;
    max-width: 683px;
    max-height: 817.485px;
}

/* Стили для блока About */

.about__content{
    margin-top: 120px;
}

.about__desc-item{
    color: var(--color_text_dark);
    max-width: 891px;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px
}

.about__desc-bold {
    font-size: 30px;
    font-weight: 600;
    line-height: 48px
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    margin-top: 60px;
    margin-bottom: 220px;
}
.about__grid__item-title {
    color: var(--color_block_red);
    font-size: 70px;
    font-weight: 600;
    line-height: 112px;
}
.about__grid__item-desc {
    color: var(--color_text_dark);
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    max-width: 260px;
}

/* Стили для блока intro */

.intro__content {
    margin-bottom: 100px;
}
.intro__title {
    margin-bottom: 60px;
}
.intro__title-item {
    color: var(--color_text_dark);
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
}
.intro__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}
.intro__grid-item {
}

.intro__grid__item-title {
    color: var(--color_text_dark);
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    margin-bottom: 20px;
}
.intro__grid__item-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    max-width: 360px;
}

.clue{
    margin-left:  3px;
    cursor: pointer;
}
/* Стили для модального окна подсказки */

.modal__clue{
    display: none;
    position: relative;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    filter: blur(0.2px);
}
.modal__clue-title{
    position: absolute;
    display: inline-block;
    left: 115px;
    bottom: 14px;
    color: var(--color_text_dark);
    border-radius: 5px;
    background: #FFF;
    padding: 15px 20px;
    box-shadow: 0px 2px 8px 0px rgba(20, 16, 36, 0.10);
    text-align: center;
    width: 251px;
}

.clue:hover + .modal__clue{
    display: block;
}

/* Стили для блока Teachers */

.teachers__content{
    margin-top: 120px;
}

.teachers__profi, .name__block{
    color: var(--color_text_dark);
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 60px;
}

.wrap__teachers {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.item__teachers {
    flex: 0 0 auto;
    margin-right: 40px; /* Устанавливаем расстояние между элементами (gap) */
    transition: transform 0.5s ease-in-out;
}

.teacher__photo {
}

.teacher__name{
    color: var(--color_text_dark);
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    margin-top: 20px;
}

.teacher__desc {
    color: #141024b3;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    margin-top: 10px;
}

.teacher__info {
    color: var(--color_btn_red);
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    margin-top: 20px;
    cursor: pointer;
}

.interactive__elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 77px 0 138px;
}

.navbar {
    width: 360px;
    height: 5px;
    border-radius: 40px;
    background: #14102414;
}

.navbar__color {
    width: 260px;
    height: 5px;
    border-radius: 40px;
    background: var(--color_block_dark);
}

.buttons {
    display: flex;
}

.left{
    cursor: pointer;
}

.right{
    transform: scaleX(-1);
    margin-left: 13px;
    cursor: pointer;
}

/* Стили для блока Rate */

.rate__content {
    margin-bottom: 120px;
} 

.rate-wrapper {
    display: flex;
    text-align: center;
    gap: 40px;
} 

.rate-item {
    display: block;
    width: 360px;
    border-radius: 20px;
    border: 1px solid rgba(20, 16, 36, 0.20);
    transition: all 0.3s ease; /* добавляем плавность эффекта */
}

.rate-item:hover{
    transform: scale(1.05);
    background-color: var(--color_text_dark);
}

.rate__item-name {
    color: var(--color_text_dark);
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    padding-top: 40px;
}

.rate__item-price {
    color: var(--color_text_dark);
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    padding-top: 83px;
}

.rate__item-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    padding-top: 20px;
}

.rate__item-btn {
    border-radius: 5px;
    background: var(--color_btn_red);
    width: 280px;
    padding: 25px 54px;
    color: var(--color_text_light);
    margin: 52px 0 40px;
    cursor: pointer;
}

.rate-item:hover .rate__item-name,
.rate-item:hover .rate__item-price,
.rate-item:hover .rate__item-desc,
.rate-item:hover .rate__item-btn {
    color: #fff; /* меняем цвет текста на белый */
}

/* Стили для блока Record */

.record{
    background-color: var(--color_block_red);
    background-image: url(../img/bg.svg);
    background-position: bottom;
    background-repeat: repeat-x;
}

.record__content {
    display: flex;
    align-items: center;
    padding: 87px 0;
    margin-left: 60px;
}
.record__title {
}
.record__name {
    color: var(--color_text_light);
    font-size: 36px;
    font-weight: 600;
    line-height: 46.8px;
    max-width: 476px;
}
.record__desc {
    color: var(--color_text_light);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px
}

.form__record{
    display: flex;
    flex-direction: column;
}

.user__name {
    padding: 19px 181px 19px 20px;
    border: none;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 10px;
    font-size: 18px;
    outline: none;
}

.user__number {
    padding: 19px 181px 19px 20px;
    border: none;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 10px;
    font-size: 18px;
    outline: none;
}

.user__email {
    padding: 19px 191px 19px 20px;
    border: none;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 10px;
    font-size: 18px;
    outline: none;
}

.user__name::placeholder,
.user__email::placeholder,
.user__number::placeholder{
    width: 299px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(40, 41, 68, 0.70);
}

.btn__record{
    padding: 19px 182px 18px 183px;
    border: none;
    border-radius: 5px;
    background-color: var(--color_btn_dark);
    color: var(--color_text_light);
    cursor: pointer;
}

/* Стили для блока footer */

.footer{
    background-color: var(--color_block_dark);
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.logo__footer{
    font-size: 30px;
    font-weight: 700;
    line-height:  48px;
    text-transform: uppercase;
    color: var(--color_text_light);
}

.logo__desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: rgba(255, 255, 255, 0.70);
}