@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

:root{
    /*Цвет текста*/
    --color_text_light: #fff;
    --color_text_dark: #141024;
    --color_text_light-dark: hsl(252, 38%, 70%);

    /*Цвет чисел*/
    --color_count: #D52027;

    /*Цвет фона*/
    --color_block_dark: #141024;
    --color_block_red: #D52027;

    /*Цвет кнопок*/
    --color_btn_dark: #141024;
    --color_btn_red: #D52027;
    --color_hover_btn_red: #b6191e;
    --color_hover_btn_dark: #0a080f;
}
*, ::after, :hover{
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
}

/* Стили для контейнера */

.container{
    width: 1160px;
    margin: 0 auto;
}

/* Стили для меню и шапки */

.header{
    background-color: var(--color_block_dark);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.menu{
    display: flex;
    gap: 40px;
    margin-left: 30px;
}

.menu li{
    font-size: 20px;
    font-weight: 400;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.number{
    color: var(--color_text_light);
    font-size: 30px;
    font-weight: 600;
}

/* Стили для наполнения в header */

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
}

.header__info{
    position: relative;
    bottom: 130px;
    z-index: 5;
}

.header__info-title {
    color: var(--color_text_light);
    font-size: 70px;
    font-weight: 600;
    line-height: 112px;
    white-space: nowrap;
}

.header__info-desc {
    color: var(--color_text_light);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 478px;
}

.header__info-btn{
    position: relative;
    color: var(--color_text_light);
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    padding: 25px 54px;
    background-color: var(--color_btn_red);
    border-radius: 5px;
    top: 50px;
}

.header__img{
    position: relative;
    z-index: 2;
    left: 29px;
    max-width: 783px;
    max-height: 917.485px;
}

/* Стили для блока About */

.about__content{
    margin-top: 120px;
}

.about__desc-item{
    color: var(--color_text_dark);
    max-width: 891px;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px
}

.about__desc-bold {
    font-size: 30px;
    font-weight: 600;
    line-height: 48px
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    margin-top: 60px;
}
.about__grid__item-title {
    color: var(--color_block_red);
    font-size: 70px;
    font-weight: 600;
    line-height: 112px;
}
.about__grid__item-desc {
    color: var(--color_text_dark);
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    max-width: 260px;
}
